<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Post Page</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="./commonStyle.css" type="text/css" rel="stylesheet">

</head>
<body>

<%-include('fragments/header.ejs');%>

<div class="container" style="margin: auto!important;">


    <div class="col-md-8 col-md-offset-2" style="margin: auto!important;">

        <h1 style="text-align: center;">Create post</h1>

        <% if (typeof(id) !== undefined && typeof(id) !== 'undefined') { %>
        <form action="/uploadPostImage" enctype="multipart/form-data" method="POST">
            <div class="form-group">
                <input type="file" name="file">
                <input type="text" value="<%=id%>" name="id" hidden>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    Create
                </button>
            </div>
        </form>
        <% } else { %>

        <form action="/createPost" method="POST">

            <select class="form-select" aria-label="All topics" name="topic">
                <%for(var i = 0; i < topics.list.length; i++) {%>
                <option value="<%=topics.list[i] %>"><%=topics.list[i] %></option>
                <%}%>
            </select>

            <div class="form-group">
                <label for="title">Title <span class="require">*</span></label>
                <input type="text" class="form-control" name="title" required/>
            </div>

            <div class="form-group">
                <label for="title">Link for a news <span class="require">*</span></label>
                <input type="text" class="form-control" name="link"/>
            </div>


            <div class="form-group">
                <label for="description">Description<span class="require">*</span></label>
                <input tyle="text" rows="5" class="form-control" name="src" required></input>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    Create
                </button>
            </div>

        </form>

        <% } %>

    </div>

</div>
</body>
</html>