@import "colors.css";

button {
    background-color: var(--primary)!important;
    color: black;
    font-family: 'Manrope', sans-serif;
    border-color: black!important;
    box-shadow: none!important;
}

