:root {
    --like_light:pink!important;
}

.footer {
    flex: 0 0 auto;
    background-color: var(--dark-s);
    margin-top: 32px!important;
}

.company-div {
    border-top: 1px solid var(--dark);
}

.proper_comment_margin {
    margin: 3% 3% 3% 3%!important;
}

.proper_right_left_margin {
    margin-left: 3%;
    margin-right: 3%;
}

.hcenter {
    margin: auto;
    width: 80%;
    text-align: center;
}

.center {
    margin: auto;
    width: 65%;
    outline:none !important;
    border: 0!important;

}

.question_bar {
    margin: auto;
    border-radius: 30px;
    background-color: #f7f7f7;
}

.question_row {
    margin: 1% 1% 1% 1%;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
}

.question_body {

}

.center_button_cards {
  margin: auto;
  margin-top: 2%!important;
  width: 80%;
  border-radius: 25px;
}

.center_button_comments {
  margin:auto;
  margin-bottom: 2%!important;
  width: 80%;
  border-radius: 25px;
}

.card {
    margin-top: 3%;
    margin-bottom:3%;
}

.form-control {
  margin-bottom: 1%;
}

.comment {
  width: 100%;
  padding: 8px;
}

.like_button {
  color:black!important;
  border-color: pink!important
}

input {
    box-shadow: 0 0 0 var(--pink);
    border: 1px solid var(--black) !important;
    height: 40px;
}
input:hover, input:focus, input:active {
    box-shadow: 0 0 0 5px var(--pink)!important;
    border: 1px solid var(--pink) !important;
}

.btn-outline-success {
  margin-right: 2%;
    box-shadow: none!important;
    border-color: var(--black)!important;
    color: black!important;
    height: 40px;
}
.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active {
    box-shadow: 0 0 0 5px var(--pink)!important;
    border: 1px solid var(--pink) !important;
    color: black!important;
    background-color: var(--pink)!important;
}

.btn-outline-info {
  color: black!important;
}

.btn-outline-secondary {
  color: black!important;
  border-color: var(--pink)!important;
}

.btn-secondary {
    box-shadow: none!important;
    border-color: var(--pink)!important;
    color: black!important;
    width: 50%;
    height: 40px;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
   color: black!important;
   background-color: var(--pink)!important;
   border-color: var(--pink)!important;
   box-shadow: 0 0 0 5px var(--pink)!important;
}

.btn-primary {
    box-shadow: 0 0 0 5px var(--pink)!important;
    border-color: var(--pink)!important;
    color: black!important;
    background-color: var(--pink)!important;
    width: 50%;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: black!important;
    background-color: var(--pink)!important;
    border-color: var(--pink)!important;
    box-shadow: 0 0 0 5px var(--pink)!important;
}

.btn-outline-primary {
    color: black!important;
    border-color: var(--like_light)!important;

}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
   color: black!important;
   background-color: var(--like_light)!important;
   border-color: var(--like_light)!important;
   box-shadow: 0 0 0 5px rgba(237, 190, 211, 1)!important;
}

.g-height-50 {
    height: 50px;
}

.g-width-50 {
    width: 50px !important;
}

.toast-icon {
    width: 32px;
    height: 32px;
    font-size: 32px;
}

#posts iframe {
    border: none!important;
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Carousel */

.PatientsReviews {
    padding-top: 100px;
    padding-bottom: 100px;
}

td {
    width: 128px!important;
}

.carousel-item{
    font-family: 'Avenir', serif;
    color: black;
    font-size: 15px;
    letter-spacing: 1.7px;
}
.row {
    width:100% !important;
    margin:0!important;
}
.carousel {
    width:100% !important;
}
.col-lg-10 {
    width:100% !important
}
.carousel-control-next, .carousel-control-prev {
    position: relative!important;
    display: inline!important;
}
.table {
    margin-bottom: 0!important;
}

p {
    margin-bottom: 0!important;
}

.hci {
    z-index: 100000!important;
    margin: 8px;
}

.float-down {
    position:absolute;
    bottom:0;
}

.media {
    background-color: white!important;
    margin-left: 8px!important;
    margin-bottom: 0!important;
    margin-top: 0!important;
    box-shadow: 0 3px 0 #000;
}
.news-image {
    width: 100%;
}
.news-title {
    font-size: 24px;
}
.news-description {
    font-size: 16px;
}

.chatBox {
    position: fixed;
    right: 16px;
    bottom: 0;
    width: 50%;
    height: 75%;
}
.chatBox-nav {
    position: fixed;
    right: 16px;
    bottom: 0;
    width: 50%;
}
.chatFrame {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 100% !important;
}

.text-center {
    text-align: center;
    vertical-align: middle;
}
.text-center i {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.margin-auto {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align:center;
}

.chatIframe {
    z-index: -1000;
}

.navbar-toggler {
    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
    -moz-animation-fill-mode: forwards;    /* FF 5+ */
    -o-animation-fill-mode: forwards;      /* Not implemented yet */
    -ms-animation-fill-mode: forwards;     /* IE 10+ */
    animation-fill-mode: forwards;         /* When the spec is finished */
    animation-name: fadeIn;
    animation-duration: 0.5s;
}
.navbar-toggler:hover {
    animation-name: fadeOut;
    animation-duration: 0.5s;
}
@keyframes fadeOut {
    from {opacity: 0.8;}
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 1;}
    to {opacity: 0.8;}
}

.section-small {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid var(--dark);
}
.section-normal {
    margin-left: 10%;
    margin-right: 10%;
}

.form-check-input {
    background-size: 120px auto!important;
    width: 64px!important;
    height: 64px!important;
}
.form-check-input:checked {
    background-color: var(--pink)!important;
}
.small-radio {
    width: 32px!important;
    height: 32px!important;
}